extends layout
block content
    .container
        h3 File Listing for #{target}
        .file
            a(href=base_path + '..')..
        -each file in files
            .file
                a(href=base_path + file)=file
